@import "node_modules/@lowlighter/matcha/dist/matcha.css";
@import "./vars.css";
@import "./layout.css";

form {
  label {
    width: 100%;

    span {
      padding-left: 3px;
    }
  }

  input:focus {
    outline: none;
    border: 1px solid var(--accent);
  }

  .has-error {
    input {
      border: 1px solid var(--danger);
    }
  }

  button[type="submit"] {
    margin: 0;
    width: 100%;
  }
}

section {
  h1 {
    margin-top: 0 !important;
    padding: 12px 24px;
  }
}
