@import "./reset.css";
@import "./vars.css";
@import "./layout.css";
@import "./forms.css";

html,
body {
  background-color: var(--bg-color);
  color: var(--fg-color);
}

section {
  margin: 1rem;
}

button {
  display: block;
  cursor: pointer;
  border-radius: 3px;
  background: var(--button-bg);
  padding: 1rem;
  width: 100%;
  color: var(--button-color);
  text-align: center;
}
