@import "node_modules/@lowlighter/matcha/dist/matcha.css";
@import "./vars.css";
@import "./layout.css";

form {
  overflow: hidden;

  label {
    width: 100%;

    span {
      padding-left: 3px;
    }
  }

  input:focus {
    outline: none;
    border: 1px solid var(--accent);
  }

  .has-error {
    input {
      border: 1px solid var(--danger);
    }
  }

  button[type="submit"] {
    width: 100%;
  }
}
