body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  > #top-nav {
    flex-shrink: 0;
  }

  > #layout {
    display: flex;
    flex-direction: row;
    flex: 1;
    overflow: hidden;

    > #sidebar {
      width: 250px;
      flex-shrink: 0;
      overflow-y: auto;
    }

    > #content {
      flex: 1;
      overflow-y: auto;
    }
  }

  > #footer {
    flex-shrink: 0;
  }

  /* toggle buttons in top nav and sidebar */
  [data-sidebar-toggle] {
    display: none;
  }
}

@media (max-width: 768px) {
  body {
    position: relative;

    [data-sidebar-toggle] {
      display: inline-block;
    }

    /* Add the overlay using ::after */
    &::after {
      content: "";
      display: block;
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      background: rgba(0, 0, 0, 0.9);
      z-index: 999;
      pointer-events: none;
      transition: all 0.15s ease-in-out;
      cursor: pointer;
    }
  }

  body[data-is-sidebar-open="true"] {
    #sidebar {
      left: 0px;
      opacity: 1;
    }

    &::after {
      opacity: 1;
      pointer-events: all;
    }
  }

  #sidebar {
    display: block;
    position: absolute;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100vh;
    z-index: 1000;
    transition: all 0.15s ease-in-out;
    opacity: 0;
  }
}
