:root {
  color-scheme: light dark;

  --bg-color: #ffffff;
  --bg-color-alt: #e2e2e2;
  --fg-color: black;

  --color-accent: yellow;
  --color-error: red;

  --input-bg: rgba(0, 0, 0, 0.1);
  --input-bg-focus: rgba(0, 0, 0, 0.2);
  --input-color: #111111;

  --button-bg: var(--color-accent);
  --button-color: var(--fg-color);
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #111111;
    --bg-color-alt: #333333;
    --fg-color: white;

    --color-accent: yellow;
    --color-error: red;

    --input-bg: rgba(255, 255, 255, 0.1);
    --input-bg-focus: rgba(255, 255, 255, 0.2);
    --input-color: white;

    --button-bg: var(--color-accent);
    --button-color: var(--bg-color);
  }
}
