@import "./reset.css";

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  > nav {
    flex-shrink: 0;
  }

  > #layout {
    display: flex;
    flex-direction: row;
    flex: 1;
    overflow: hidden;

    > aside {
      width: 250px;
      flex-shrink: 0;
      overflow-y: auto;
    }

    > main {
      flex: 1;
      overflow-y: auto;
    }
  }

  > footer {
    flex-shrink: 0;
  }

  [data-sidebar-state] {
    display: none;
  }
}

#layout {
  > aside {
    background-color: #444444;
  }
}

@media (max-width: 768px) {
  body {
    position: relative;

    [data-sidebar-state] {
      display: inline-block;
    }
  }

  body[data-sidebar="open"] {
    #layout > aside {
      left: 0px;
      opacity: 1;
    }

    #sidebar-bg {
      opacity: 1;
      pointer-events: all;
    }
  }

  #sidebar-bg {
    display: block;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.9);
    z-index: 999;
    pointer-events: none;
    transition: all 0.15s ease-in-out;
    cursor: pointer;
  }

  #layout > aside {
    display: block;
    position: absolute;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100vh;
    z-index: 1000;
    transition: all 0.15s ease-in-out;
    opacity: 0;
  }
}
