---
import { errorToFlatObject } from "@/lib/errors.ts";
import Layout from "@/layouts/Layout.astro";
import Input from "@/components/ui/Input.astro";

let errors: Record<string, string> = {
  general: "",
  email: "",
  password: "",
};

try {
  if (Astro.request.method === "POST") {
    const { pb } = Astro.locals;
    const data = await Astro.request.formData();
    const email = data.get("email") as string;
    const password = data.get("password") as string;

    await pb.collection("users").authWithPassword(email, password);

    return Astro.redirect("/dashboard");
  }
} catch (err) {
  errors = errorToFlatObject(err as Error);
}
---

<Layout title="Login">
  <h1>Login</h1>

  <section>
    <form method="POST">
      {errors.general && <p class="error">{errors.general}</p>}

      <Input
        type="email"
        label="E-Mail"
        name="email"
        placeholder="you@example.com"
        autocomplete="email"
        required
        errorMessage={errors.email}
      />

      <Input
        type="password"
        label="Password"
        name="password"
        placeholder="Enter your password"
        autocomplete="current-password"
        required
        errorMessage={errors.password}
      />

      <section>
        <button type="submit">Login</button>
      </section>
    </form>
  </section>
</Layout>
