---
import { errorToFlatObject } from "@/lib/errors.ts";
import Layout from "@/layouts/Layout.astro";
import Input from "@/components/ui/Input.astro";

let email = "";
let errors: Record<string, string> = {
  general: "",
  email: "",
  password: "",
  passwordConfirm: "",
};

try {
  if (Astro.request.method === "POST") {
    const { pb } = Astro.locals;
    const data = await Astro.request.formData();
    const password = data.get("password") as string;
    const passwordConfirm = data.get("passwordConfirm");
    email = data.get("email") as string;

    await pb.collection("users").create({ email, password, passwordConfirm });
    await pb.collection("users").requestVerification(email);
    await pb.collection("users").authWithPassword(email, password);

    return Astro.redirect("/dashboard");
  }
} catch (err) {
  errors = errorToFlatObject(err as Error);
}
---

<Layout title="Register">
  <h1>Register</h1>

  <section>
    <form method="POST">
      <Input
        type="email"
        label="E-Mail"
        name="email"
        value={email}
        placeholder="you@example.com"
        autocomplete="email"
        required
        errorMessage={errors.email}
      />

      <Input
        type="password"
        label="Password"
        name="password"
        placeholder="Create a password"
        autocomplete="new-password"
        required
        errorMessage={errors.password}
      />

      <Input
        type="password"
        label="Password Confirmation"
        name="passwordConfirm"
        placeholder="Confirm your password"
        autocomplete="new-password"
        required
        errorMessage={errors.passwordConfirm}
      />

      <section>
        <button type="submit">Register</button>
      </section>
    </form>
  </section>
</Layout>
