---
import { ClientResponseError } from "pocketbase";
import Layout from "@/layouts/Layout.astro";
import Input from "@/components/ui/Input.astro";

const errors: Record<string, string> = {
  general: "",
  email: "",
  password: "",
  passwordConfirm: "",
};

try {
  if (Astro.request.method === "POST") {
    const { pb } = Astro.locals;
    const data = await Astro.request.formData();
    const email = data.get("email");
    const password = data.get("password");
    const passwordConfirm = data.get("passwordConfirm");

    await pb.collection("users").create({
      email,
      password,
      passwordConfirm,
    });
    // 			await pb.collection("users").requestVerification(data.email);
    //	await pb.collection("users").authWithPassword(data.email, data.password);
  }
} catch (err) {
  if (err instanceof ClientResponseError) {
    const keyNames = Object.keys(err.data.data || {});

    if (keyNames.length) {
      for (const keyName of keyNames) {
        errors[keyName] = err.data.data[keyName].message;
      }
    } else {
      errors.general = err.response.message;
    }
  } else if (err instanceof Error) {
    errors.general = err.message;
  } else {
    errors.general = "Unknown Error";
  }
}
---

<Layout title="Register">
  <h1>Register</h1>

  <pre>{JSON.stringify(errors)}</pre>

  <section>
    <form method="POST">
      <Input
        type="email"
        label="E-Mail"
        name="email"
        value="test@example.com"
        errorMessage={errors.email}
      />

      <Input
        type="password"
        label="Password"
        name="password"
        value="11111111"
        errorMessage={errors.pasword}
      />

      <Input
        type="password"
        label="Password Confirmation"
        name="passwordConfirm"
        value="11111111"
        errorMessage={errors.passwordConfirm}
      />

      <fieldset>
        <button type="submit">Register</button>
      </fieldset>
    </form>
  </section>
</Layout>
