---
const currentUser = Astro.locals.currentUser;
---

<menu id="top-nav">
  <li data-sidebar-toggle>
    <button>Toggle Sidebar</button>
  </li>

  {
    !currentUser && (
      <>
        <li>
          <a href="/register">Register</a>
        </li>
        <li>
          <a href="/login">Login</a>
        </li>
      </>
    )
  }

  {
    currentUser && (
      <>
        <li>
          <a href="/dashboard">Dashboard</a>
        </li>
        <li>
          <a href="/logout">Logout</a>
        </li>
      </>
    )
  }
</menu>

<style is:global>
  #top-nav {
    margin: 0;
    padding: 0;

    li {
      margin: 0;
      padding: 0;

      a {
        display: block;
        transition: all 0.1s ease;
        margin: 0;
        padding: 10px 15px;

        &:hover {
          background: var(--accent);
        }
      }
    }
  }
</style>
