layout {
    tab name="1:Edit" hide_floating_panes=true {
        pane command="hx" {
            args "."
        }
        pane size=1 borderless=true {
            plugin location="tab-bar"
        }
        floating_panes {
            pane name="Toggle: Alt+Space" {
                command "fish"
                x "50%"
                y "0%"
                width "50%"
                height "100%"
            }
        }
    }

    tab name="2:Assist" hide_floating_panes=true {
        pane command="opencode"
    }

    tab name="3:Git" hide_floating_panes=true {
        pane command="lazygit"
    }
    
    tab name="4:$" hide_floating_panes=true {
        pane command="fish"
    }

    tab name="5:Test|Unit" hide_floating_panes=true {
        pane command="bun" {
            args "run" "test:unit:watch"
        }
    }

    tab name="6:Test|E2E" hide_floating_panes=true {
        pane command="bun" {
            args "run" "test:e2e:watch"
        }
    }

    tab name="7:$" hide_floating_panes=true {
        pane command="fish"
    }

    tab name="8:$" hide_floating_panes=true {
        pane command="fish"
    }

    tab name="9:Mailhog" hide_floating_panes=true {
        pane command="mailhog"
    }

    tab name="10:Astro" hide_floating_panes=true {
        pane command="bun" {
            args "run" "dev"
        }
    }

    tab name="11:Pocketbase" hide_floating_panes=true {
        pane command="bash" {
            args "-c" "pocketbase serve --dir=$HOME/app/pb_data --hooksDir=$HOME/app/pb_hooks --migrationsDir=$HOME/app/pb_migrations --dev=true"
        }
    }

    tab name="12:Caddy" hide_floating_panes=true {
        pane command="bash" {
            args "-c" "caddy run -c $HOME/app/env/development/Caddyfile"
        }
    }
}

